body {
  text-align: center;
  font-family: verdana;
  user-select: none
}

input,
select {
  outline: 0;
  font-size: 1em;
  padding: 8px;
  width: 100%;
  box-sizing: border-box
}

select {
  margin-top: 10px
}

form > *, .form > * {
  display: block;
  margin-bottom: 15px
}

form, .form {
  text-align: left;
  width: 80%;
  display: inline-block;
}

.c {
  text-align: center
}

input[type='checkbox'] {
  zoom: 1.8;
  width: auto;
  margin: 10px;
  vertical-align: middle
}

button {
  border: 0;
  border-radius: 0.3rem;
  background-color: #16A1E7;
  color: #fff;
  line-height: 2.4rem;
  font-size: 1.2rem;
  width: 100%;
}